/* twoCol.css
   Provides styling for twoColumns.html by ensuring
   that the page has a header, two columns and a 
   footer as per the given desgin in the book.
*/

#head{
    border-bottom: 3px black double;
    text-align: center;
}
#left{
    float: left;
    width: 20%;
    padding: 7px;
}
#right{
    float: left;
    width: 75%;
    border-left: 3px double gray;
    padding: 7px;
}
#footer{
    clear: both;
    text-align: center;
    border-top: 3px double gray;
}